@import url(./meyerweb-css-reset.css);
@import url(./base-styles.css);


.flex {
    display: flex;
    gap: 2rem;
}

.axsblty {
    clip: rect(1px,1px,1px,1px);
    border: 0 !important;
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

body {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* HEADER */
header {
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 100;
    border-bottom: 1px solid var(--grey-01);
    justify-content: flex-start;
    background-color: var(--white-primary);
    padding-top: 1.75rem;
}

/* BUTTONS */

button, .btn-main, .btn-error  {
    font-family: var(--secondary-font-regular);
    background-color: var(--light-blue-02);
    padding: 0.75rem 1.5rem;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
}

.btn-main {
    font-size: 1.15rem;
}

.btn-error {
	display: inline-block;
    background-color: rgba(255, 0, 0, 0.3);
    margin-top: 2rem;
}

.btn-main, .btn-form, .btn-error {
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
}

.btn-main:hover, .btn-form:hover{
    background-color: var(--blue-01);
    color: var(--white-primary);
}

.btn-error:hover {
	background-color: var(--orange-01);
}

.btn-error a:hover {
	color: var(--white-primary);
}

.btn-error:active {
	background-color: var(--blue-01);
}

.btn-error a:active {
	color: var(--white-primary);
}

.btn-main:active, .btn-form:active {
    background-color: var(--orange-01);
    color: var(--white-primary);
}

.btn-main:active, .btn-form:active {
    transform: scale(0.95);
}

.btn-error a,
.btn-error a:visited {
    text-decoration: none;
    color: var(--dark-primary);
}

/* MAIN BODY */

.wrapper-body {
    max-width: 1000px;
    margin: 0 auto; /* Centers the body */
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0 1rem;
}

main {
    width: 100%;
    margin: 2rem 0 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-bold);
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    line-height: calc(1.5rem + 4px);
}

h2 {
    font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
}

h3 {
    font-size: 1.325rem;
    line-height: calc(1.325rem + 4px);
}

h4 {
    font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
}

h5 {
    font-size: 1.15rem;
    line-height: calc(1.15rem + 4px);
}

h6 {
    font-size: 1rem;
    line-height: calc(1rem + 4px);
}

p {
    font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
    margin-bottom: 0.625rem;
    letter-spacing: 0.125em;
}

section {
    margin-bottom: 4rem;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto; /* Add auto rows to accommodate multiple rows */
    gap: 1rem;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.txt-blue {
    color: var(--blue-01);
    font-family: var(--main-font-medium);
}

.txt-red {
	color: red;
	font-family: var(--main-font-medium);
}

.wrapper-article {
    border: 1px solid var(--grey-01);
    border-radius: 8px;
    padding: 1.75rem 1rem 1rem;
}

input, li {
    font-family: var(--secondary-font-regular);
}

li {
    font-size: 1rem;
    line-height: calc(1rem + 4px);
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    background-repeat: no-repeat;
    background-position: left 0.5rem top 0.5rem;
}

/* For mobile devices (default behavior without media query) */
.grid > section {
    border: 1px solid var(--orange-01); /* Adds a light border */
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0;
}

table {
    border: 1px solid var(--grey-01);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
 }
  
table caption {
	font-family: var(--heading-font-bold);
	font-size: 1.25rem;
    line-height: calc(1.25rem + 4px);
	text-align: left;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}
  
table tr {
	font-family: var(--secondary-font-regular);
    background-color:var(--grey-01);
    border: 1px solid var(--grey-02);
    padding: .35em;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    background-color: var(--light-blue-02);
    font-family: var(--main-font-medium);
    font-size: 1.15rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: var(--white-primary);
}

thead tr:hover {
    background-color: unset;
    filter: unset;
}

tbody tr:hover {
    background-color: var(--orange-01);
    filter: brightness(150%);
}

/* FORM STYLES */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

/* Form group container */
.form-group {
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap to the next line if needed */
    gap: 1rem;
    width: 100%; /* Ensures the form group stays within the section bounds */
    box-sizing: border-box; /* Includes padding and borders in the width */
}

/* Labels */
.form-group label {
    flex: 0 0 auto; /* Prevents the label from shrinking too much */
    min-width: 120px; /* Default fixed width */
    text-align: left;
 	align-content: center;
}

/* Inputs */
.form-group input {
    flex: 1; /* Makes input take the remaining space */
    padding: 0.5rem;
    border: 1px solid var(--grey-02);
    border-radius: 4px;
    box-sizing: border-box;
    max-width: calc(100% - 1rem);
    min-width: 0; /* Prevents the input from overflowing */
}

/* FORM BUTTONS */
form button {
    align-self: flex-end; /* Align buttons to the left */
}

.message {
    margin-top: 1rem;
    padding: 0.75rem 0.5rem;
}

.error {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
    border-radius: 4px;
}

.success {
	background-color: var(--light-blue-02);
    border: 1px solid var(--blue-01);
    border-radius: 4px;
}

#add-employee-form {
    grid-area: 1 / 1 / 1 / -1;
}

#find-employee-form {
    grid-area: 2 / 1 / 2 / -1;
}

#delete-employee-form {
    grid-area: 3 / 1 / 3 / -1;
}

#employees-list {
    grid-area: 4 / 1 / 4 / -1;
}

  
@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
}


@media (min-width: 767px) { 
    /* BUTTONS */
     header {
        margin: 0 1rem;
     }
 
     /* MAIN BODY */
     main {
        margin: 4rem 0;
    }

    h1 {
        font-size: 1.75rem;
        line-height: calc(1.75rem + 4px);
    }
    
    h2 {
        font-size: 1.675rem;
        line-height: calc(1.675rem + 4px);
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: calc(1.5rem + 4px);
    }
    
    h4 {
        font-size: 1.325rem;
        line-height: calc(1.325rem + 4px);
    }
    
    h5 {
        font-size: 1.25rem;
        line-height: calc(1.25rem + 4px);
    }
    
    table caption {
    	font-size: 1.675rem;
        line-height: calc(1.675rem + 4px);
    }
    
    #add-employee-form {
        grid-area: 1 / 8 / 1 / -1;
    }
    
    #find-employee-form {
        grid-area: 2 / 8 / 2 / -1;
    }
    
    #delete-employee-form {
        grid-area: 3 / 8 / 3 / -1;
    }
    
    #employees-list {
        grid-area: 1 / 1 / 4 / 8;
    }

}

@media (min-width: 992px) {
    /* BUTTONS */
    header {
        margin: 0 1rem;
     }

    /* MAIN BODY */
    main {
        margin: 6rem 0;
    }

    h1 {
        font-size: 2rem;
        line-height: calc(2rem + 4px);
    }
    
    h2, table > caption {
        font-size: 1.75rem;
        line-height: calc(1.75rem + 4px);
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: calc(1.5rem + 4px);
    }

    h4 {
        font-size: 1.425rem;
        line-height: calc(1.425rem + 4px);
    }
    
    h5 {
        font-size: 1.325rem;
        line-height: calc(1.325rem + 4px);
    }
    
    table caption {
    	font-size: 1.75rem;
        line-height: calc(1.75rem + 4px);
    }
    
    #add-employee-form {
        grid-area: 1 / 9 / 1 / -1;
    }
    
    #find-employee-form {
        grid-area: 2 / 9 / 2 / -1;
    }
    
    #delete-employee-form {
        grid-area: 3 / 9 / 3 / -1;
    }
    
    #employees-list {
        grid-area: 1 / 1 / 4 / 9;
    }
    
}