<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
	<context-param>
	    <param-name>db.url</param-name>
	    <param-value>jdbc:sqlserver://java-sql.ad.bcit.ca:1433;databaseName=jspweb;encrypt=false</param-value>
	</context-param>
	<context-param>
	    <param-name>db.username</param-name>
	    <param-value>javastudent</param-value>
	</context-param>
	<context-param>
	    <param-name>db.password</param-name>
	    <param-value>compjava</param-value>
	</context-param>
	 
	 <error-page>
	    <error-code>404</error-code>
	    <location>/errorPage.jsp</location>
	</error-page>

	<error-page>
	    <error-code>500</error-code>
	    <location>/errorPage.jsp</location>
	</error-page>

	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/errorPage.jsp</location>
	</error-page>
	
	<error-page>
	    <exception-type>javax.servlet.ServletException</exception-type>
	    <location>/errorPage.jsp</location>
	</error-page>

	<error-page>
	    <exception-type>java.lang.Throwable</exception-type>
	    <location>/errorPage.jsp</location>
	</error-page>
</web-app>
